
.mat-row:hover {
  cursor: pointer;
  background: #f0f0f0;
  scale: 1.005;
}

.add-button {
  position: absolute;
  right: 2em;
  top: 6em;
}

.mat-column-id {
  max-width: 30px;
}
.mat-column-actions {
  border-left: 1px solid currentColor;
  max-width: 30px;
  padding-left: 10px;
}
.mat-column-telefone {
  border-left: 1px solid currentColor;
  max-width: 160px;
  padding-left: 16px;
}
.mat-column-nome {
  border-left: 1px solid currentColor;
  padding-left: 16px;
}
