<h1>Contatos</h1>

<button
  class="add-button"
  color="accent"
  mat-fab
  routerLink="new"
>
  <mat-icon>add</mat-icon>
</button>

<mat-table [dataSource]="contatos"  class="mat-elevation-z8">
  <!-- User id Definition -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <!-- nome Definition -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.nome}} </mat-cell>
  </ng-container>

  <!-- telefone Definition -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.telefone}} </mat-cell>
  </ng-container>

  <!-- actions Definition -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Deletar </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button matTooltip="Deletar" (click)="delete(row); $event.stopPropagation()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>



  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"
  [routerLink]="['/contatos', row.id]"
  ></mat-row>
</mat-table>
